<article>
  <section class="col col-6-8">
    <section class="col col-1-3">
      <h1><a href="#">Launching the New React/Redux Curriculum</a></h1>
      <div class="author">By APP ACADEMY INSTRUCTIONAL TEAM</div>

      <ul>
        <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
        <li>The whole state of your app is stored in an object tree inside a single store.
        The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
      </ul>

      <i class="fa fa-comment" aria-hidden="true" style="font-size: 14px;"></i>
      <a href="#" class="comments">1738 Comments</a>
    </section>

    <section class="col col-2-3">
      <iframe src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
      Warning: This video will make you want to change your career
      
      <hr class="hr-space">
      
      <h3><a href="#">Where Are They Now?</a></h3>
      <div class="author">By APP ACADEMY ALUMNI</div>
      First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
      
      <hr class="hr-space">
      
      <h3><a href="#">Cat Academy</a></h3>
      <div class="author">By APP ACADEMY DIRECTOR OF PRODUCTS</div>
      App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
    </section>
    
    <hr class="hr-top">
    <hr class="hr-bottom">
  </section>
  
  <section class="col col-2-8">
    <section class="col-8-8">
      <h2>The Opinion Pages</h2>
    </section>
    
    <section class="col col-4-8">
      <div class="opinion-section-header">
        Op-Ed Contributor
      </div>
      <a href="#"><h3>Will Javascript ever be as easy as Ruby?</h3></a>
      Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.

      <ul class="opinion-section">
        <li>Torvalds: When I Was Almost Wrong</li>
        <li>Knuth: Art of Programming</li>
        <li>Lovelace: The First Algorithm</li>
        <li>Hopper: The First Bug</li>
        <li>Thompson: Go C Unix</li>
        <li>Carmack: My Virtual Reality</li>
        <li>Stallman: Free Speech Not Free Coffee</li>
      </ul>
    </section>

    <section class="col col-4-8">
      <div class="opinion-section-header">
        Operations
      </div>
      <a href="#"><h3>App Academy New York Has A Brand New Office</h3></a>
      <div class="author-small">By NY OPERATIONS</div>

      The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
      
      <img src="assets/new_office.jpg" class="thumbnail" alt="OFFICE" style="height: 100px">
      
      <h3>Opinion Today, in your Inbox</h3>
      Each weekday, get though-provoking commentary from our columnists and contributors.

    </section>
    <section class="col-8-8">
      <div class="sign-up">
        <input type="text" name="" placeholder="Get the Opinion newsletter by email">
        <button type="button" name="button">SIGN UP</button>
      </div>
      
      <small>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</small>
    </section>
    
    <hr class="hr-top">
    <hr class="hr-bottom">
  </section>
</article>