<header class="masthead">
  <section class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </section>
  <section class="logo">
    <img src="assets/AA_Times_Logo.png" alt="">
  </section>
  <section class="masthead-links">
    <ul>
      <li>Tuesday, October 18, 2016</li>
      <li><i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <a href="#">Today’s Paper</a></li>
      <li><i class="fa fa-video-camera" aria-hidden="true"></i>
        <a href="#">Video</a></li>
      <li><button type="button" name="button">77°F</button></li>
      <li><button type="button" name="button">AAO <strong>+100%</strong></button></li>
    </ul>
  </section>
</header>

