// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  padding: 12px;
  width: 250px;
  right: 10px;
  top: 43px;
  
  border: 1px solid $light-gray;
  border-radius: 5px;
  
  z-index: 1;
  font-family: $sans-serif;
  background-color: white;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.dropdown-subtitle {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 8px 5px;
  color: $dark-gray;
}

.editions li a {
  padding: 3px 5px;
  margin: 5px 0px;
  display: block;
  color: $gray;
  font-size: 16px;
  text-transform: uppercase;
  
  &:hover {
    background-color: $light-gray;
    border-radius: 5px;
    color: black;
  }
}

.editions {
  border-bottom: 1px solid $light-gray;
  padding: 5px 0;
}

.help li a {
  padding: 3px 5px;
  margin: 5px 0px;
  display: block;
  font-size: 16px;
  color: $light-blue;
  
  &:hover {
    text-decoration: underline;
  }
}

#gear-dropdown-btn {
  position: relative;
}